html,
body {
    height: 100%;
}

#home {
    height: 100%;
    width: 100%;
}

.trigrid {
    width: 100%;
    height: 100%;
    top: 20px;
    background-image: url('../img/trigrid.svg');
    background-position: center top;
    background-size: 107.2px 120px;
    position: absolute;
}

.box {
    width: 90%;
    height: 83%;
    margin: 0 auto;
}

.logo {
    width: 190px;
    height: 240px;
    margin: 8% auto 0;
    background-image: url("/img/core.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.left {
    background-color: black;
    height: 300px;
}

.right {
    background-color: black;
    height: 300px;
}

.intro {
    color: orange;
    font-size: 4em;
    font-weight: 700;
    margin: 3% auto 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.motto {
    text-align: center;
    font-size: 30px;
    font-color: black;
}

.main-heading {
    font-size: 40px;
    font-weight: lighter;
    color: rgb(165, 28, 48);
    text-align: center;
    padding-top: 20px;
}

h4 {
    text-align: center;
}

.panel-body {
    text-align: center;
}

.achieve .panel-title a:hover {
    text-decoration: none;
}

.thumbnail {
    border: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}


footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

/*Portfolio*/


/*///////////////////////////////*/


/*//////////////////////////////*/


/*//////////////////////////////*/

body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.fa.fa-plus::hover {
    color: red;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#events .events-item {
    right: 0;
    margin: 0 0 15px;
}

#events .events-item .events-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#events .events-item .events-link .events-hover {
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254, 209, 54, .9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#events .events-item .events-link .events-hover:hover {
    opacity: 1;
}

#events .events-item .events-link .events-hover .events-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: black;
}

#events .events-item .events-link .events-hover .events-hover-content i {
    margin-top: -12px;
}

#events .events-item .events-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#events .events-item .events-caption p {
    margin: 0;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
}

#events * {
    z-index: 2;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
}

.events-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.events-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.events-modal .modal-content p {
    margin-bottom: 30px;
}

.events-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
}

.events-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.events-modal .modal-content img {
    margin-bottom: 30px;
}

.events-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.events-modal .close-modal:hover {
    opacity: .3;
}

.events-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.events-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.events-modal .modal-backdrop {
    display: none;
    opacity: 0;
}


/*Portfolio*/
